	<div id="new_restaurant_form">
	<hr/>
	<%= form_for(@restaurant) do |f| %>

			<%= f.hidden_field :owner, :value => current_user.id %>

			<div class="field">
				<%= f.label :image %>
				<%= f.file_field :image %>
			</div>

			<div class="field">
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>

			<div class="field">
	    	<%= f.label :street, 'Street' %>
	    	<%= f.text_field :street %>
			</div>

			<div class="field">
				 <%= f.label :city, 'City' %>
	    	<%= f.text_field :city %>
			</div>

			<div class="field">
			 	<%= f.label :prov, 'Province' %>
	    	<%= f.text_field :prov %>
			</div>

			<div class="field">
			 	<%= f.label :postal, 'Postal Code' %>
	    	<%= f.text_field :postal %>
			</div>

			<div class="field">
		    <%= f.label "Cuisine" %>
		    <%= f.select :cuisine_type, [['Thai'],['Italian'],['Seafood'],['Indian'],['Canadian'],['Tex-Mex'],['Japanese'], ['Greek']], :prompt => "Please Choose..." %> <br />
			</div>

			<div class="field">
				<%= f.label "Description" %>
			  <%= f.text_area :description %>
			</div>

			<div class="field">
				<%= f.label :website %>
				<%= f.text_field :website, :placeholder => "http://www.moxies.com" %>
			</div>

			<div class="actions">
				<%= f.submit "Submit",  id:'new_rest_submit_btn'  %>
			</div>
		</div>

	<% end %>
		<div id="error_msgs_padding">
		  <% if @restaurant.errors.any? %>

		  <div class="error_messages">
		    <ul>
		    <% @restaurant.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		    <% end %>
		    </ul>
			</div>
		  <% end %>
		 </div>
</div>