<div class='restaurant'>
	<div id="thumb">
		<%= link_to (image_tag restaurant.image.url(:thumb)),restaurant_path(restaurant[:id]) %>
	</div>
	<div id="restaurant-deets">
		<h2 id='name'><%= link_to truncate(restaurant.name, length: 20), restaurant_path(restaurant[:id]) %></h2>

		<div class="rating">
		<% if restaurant.reviews.count > 0 %>
	    <% sum = restaurant.reviews.sum(:rating) %>
	    <% count = restaurant.reviews.count %>
	    <% user_rating = (sum / count.to_f).round %>
	    <% empty_stars = 5 - user_rating %>
			<% user_rating.times do |x| %>
				<span class="filled-star" id="<%= x%>">&starf;</span>
		  <% end %>
		  <% empty_stars.times do |x| %>
				<span class="empty-star" id="<%= x%>">&starf;</span>
		  <% end %>
		  <span id="rating_count"><%= pluralize(restaurant.reviews.count, "review") %></span>
	  <% else %>
	     <% 5.times do |x| %>
				<span class="empty-star" id="<%= x%>">&starf;</span>
				<% end %>
				<span id="rating_count">0 reviews</span>
	  <% end %>
		</div>



		<p id="cusine_city"><%= restaurant.cuisine_type.upcase %> &bull; <%= restaurant.city.upcase %>
  </div>

  <div id="deets-review">
	  <% if restaurant.reviews.count > 0  %>
			<p>&ldquo;<%= truncate(restaurant.reviews.last.comment, length: 70) %>&rdquo;</p>
			<p><%= restaurant.reviews.last.created_at.strftime("%B  %d, %Y") %></p>
		<% end %>
	</div>
</div>