<div class='restaurant'>
	<div id="thumb">
		<%= link_to image_tag("http://placehold.it/100x100"), restaurant_path(restaurant[:id]) %>
	</div>
	<div id="restaurant-deets">
		<h2 id='name'><%= link_to truncate(restaurant.name.titleize, length: 20), restaurant_path(restaurant[:id]) %></h2>



		<div class="rating">
		<% if restaurant.reviews.count > 0 %>
	    <% sum = restaurant.reviews.sum(:rating) %>
	    <% count = restaurant.reviews.count %>
	    <% user_rating = (sum / count.to_f).ceil %>
	    <% empty_stars = 5 - user_rating %>
			<% user_rating.times do |x| %>
				<span class="filled-star" id="<%= x%>">&starf;</span>
		  <% end %>
		  <% empty_stars.times do |x| %>
				<span class="empty-star" id="<%= x%>">&starf;</span>
		  <% end %>
		  <span id="rating_count"><%= pluralize(restaurant.reviews.count, "review") %></span>
	  <% else %>
	     <% 5.times do |x| %>
				<span class="empty-star" id="<%= x%>">&starf;</span>
				<% end %>
				<span id="rating_count">0 reviews</span>
	  <% end %>
		</div>

		<p id="cusine_city"><%= restaurant.cuisine_type.titleize.upcase %> &bull; CITY
		<%#= truncate(restaurant.address.titleize, length: 25) %></p>


	  <p><%#= link_to "View Details »", restaurant_path(restaurant[:id]) %></p>
  </div>
</div>