<div id="show_deets">
	<div>
		<%= image_tag "http://placehold.it/125x125
		", id:"full_img"%>
	</div>
	<!-- <img src="<%#= @restaurant.image %>"/> -->

	<h1><%= @restaurant.name %></h1>

	<div class="rating">
		<% if @restaurant.reviews.count > 0 %>
	    <% sum = @restaurant.reviews.sum(:rating) %>
	    <% count = @restaurant.reviews.count %>
	    <% user_rating = (sum / count.to_f).round%>
	    <% empty_stars = 5 - user_rating %>
			<% user_rating.times do |x| %>
				<span class="filled-star" id="<%= x%>">&starf;</span>
		  <% end %>
		  <% empty_stars.times do |x| %>
				<span class="empty-star" id="<%= x%>">&starf;</span>
		  <% end %>
	  <% else %>
	     <% 5.times do |x| %>
				<span class="empty-star" id="<%= x%>">&starf;</span>
				<% end %>
	  <% end %>
		</div>

	<p id="cusine_city"><%= @restaurant.cuisine_type.titleize.upcase %> &bull; CITY
		<%#= truncate(restaurant.address.titleize, length: 25) %></p>

	<p><%#= @restaurant.address %></p>
	<p><a href="http://<%= @restaurant.website %>"><%= @restaurant.website %></a></p>

	<% if current_user && current_user.id == @restaurant.owner %>
	<%= link_to "Edit", edit_restaurant_path(@restaurant.id) %>
	<%= link_to "Delete", restaurant_path(@restaurant.id), :method => :delete %>
<% end %>
</div>

<div id="content-bg">
	<div id="reso_booking">
		  <%= form_for([@restaurant, @reservation]) do |f| %>
					<%#= f.label :time %>
					<%= f.datetime_select :time,
				 		:default => 24.hours.from_now,
		        :minute_step => 15,
				    :discard_year => true
				    %>

					<p><%#= f.label :party_size %>
					<%= f.text_field :party_size, placeholder: "Number of People" %></p>
					<%= f.submit 'Book Reservation', id:'reso_submit_btn' %>

			<% end %>
	</div>

	<div class="tile">
		<h2>About <%= @restaurant.name %></h2>
		<h4><%= @restaurant.address.titleize %></h4>


		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam felis erat, vehicula et blandit eget, gravida consequat felis. Sed id venenatis diam, quis lobortis odio. Nunc ut dui et tortor luctus eleifend vel ut urna. Suspendisse dictum efficitur elit vel efficitur.</p>

		<div id="gmap">
			<img  src="http://www.digicution.com/wp-content/uploads/2012/06/HTML5-Repsonsive-Google-Maps-Tutorial-1.png"/>
		</div>
	</div>

	<div class="tile" id="show_ratings">

	<h2><%= @restaurant.name.capitalize %> Ratings and Reviews</h2>
		<div class="rating">
		<% if @restaurant.reviews.count > 0 %>
			<% user_rating.times do |x| %>
				<span class="filled-star" id="<%= x%>">&starf;</span>
		  <% end %>
		  <% empty_stars.times do |x| %>
				<span class="empty-star" id="<%= x%>">&starf;</span>
		  <% end %>
		  <span id="rating_count"><%= pluralize(@restaurant.reviews.count, "review") %></span>
	  <% else %>
	     <% 5.times do |x| %>
				<span class="empty-star" id="<%= x%>">&starf;</span>
				<% end %>
				<span id="rating_count">0 reviews</span>
	  <% end %>
		</div>

<hr>
		<% if @restaurant.reviews.count > 0 %>
			<% @restaurant.reviews.each do |r| %>
				<div id="single_review">
					<h3>Comment Title</h3>
					<% empty_stars_single_review = 5 - r.rating %>
					<% r.rating.times do |x| %>
						<span class="filled-star" id="<%= x%>">&starf;</span>
	  			<% end %>
			  	<% empty_stars_single_review.times do |x| %>
						<span class="empty-star" id="<%= x%>">&starf;</span>
			 		<% end %>
			 		<% if r.rating == 0 %>
			 			<% 5.times do |x| %>
						<span class="empty-star" id="<%= x%>">&starf;</span>
						<% end %>
					<% end %>

					<h4><%= r.user.name.capitalize %>&nbsp
					<span id="datetime_posted"><%= r.created_at.strftime("%B %d, %Y at %l:%M %p") %></span></h4>
						<p><%#= r.comment %>
						Donec accumsan sagittis sem. Duis non ante sed nulla auctor luctus. Donec mauris quam, posuere et blandit vitae, lacinia id neque. Suspendisse potenti. Vestibulum vitae ex non turpis mollis tempus in sed velit. Pellentesque eros massa, imperdiet vel auctor a, vehicula ac mauris.</p>
					</div>
			<% end %>
		<% end %>



		<% if current_user %>
		<button id="new_review_btn">Leave a Review</button>
		<% end %>
	</div>

<div class="tile" id="show_nearbys">
	<h2>Nearby Restaurants</h2>
<% if @nearby_restaurants != nil && @nearby_restaurants.any? %>
	<% if @nearby_restaurants != nil && @nearby_restaurants.any? %>

	<%= javascript_tag do %>
		window.nearbys = <%= raw @nearby_restaurants.map {|nr| {latitude: nr.latitude, longitude: nr.longitude}}.to_json %>
	<% end %>
<% end %>
	<ul>
	<% @nearby_restaurants.each do |nr| %>
		<li id="nearby_restaurant">
			<% nr.distance >= 1 ? distance = "#{nr.distance.round(2)} KM" : distance = "#{(nr.distance * 1000).round} Meters" %>
			<%= link_to "#{nr.name}", restaurant_path(nr) %>
			<span><%= distance %></span>
		</li>
	<% end %>
	</ul>
<div id="map-canvas" data-latitude='<%= @restaurant.latitude.to_f %>' data-longitude='<%= @restaurant.longitude.to_f %>'></div>
<% else %>
	<p><em>No nearby restaurants found</em></p>
<% end %>
</div>

<!-- <h3>Your Reservations</h3>
	<p>Your reservations for <%#= @restaurant.name %></p>
	<%# if current_user %>
	<%# @restaurant.reservations.where(user_id: current_user).each do |res| %>
			<p>
				<%#= res.time.strftime("%A, %d %B %Y at %l:%M %p") %> for <%#= pluralize(res.party_size, "person") %>
			</p>
				<%#= link_to "Cancel Reservation", restaurant_reservation_path(@restaurant, res), :method => :delete %>
			</p>
			<hr/>
		<%# end %>
	<%# end %> -->
<!--
<%# if current_user %>
	<%#= link_to "leave a review!", new_restaurant_review_path(@restaurant) %>
	<%# if @hours_open.empty? %>
		<h3>Sorry, this restaurant is booked for today!</h3>
	<%# end %>
<%# end %> -->
</div>
