<div id="show_deets">
	<div id="res_header_img">
		<%= image_tag @restaurant.image.url(:large) %>
	</div>

	<div id="res_header_details">
		<h1><%= @restaurant.name %></h1>
		<div class="rating">
			<% if @restaurant.reviews.count > 0 %>
		    <% sum = @restaurant.reviews.sum(:rating) %>
		    <% count = @restaurant.reviews.count %>
		    <% user_rating = (sum / count.to_f).round%>
		    <% empty_stars = 5 - user_rating %>
				<% user_rating.times do |x| %>
					<span class="filled-star" id="<%= x%>">&starf;</span>
			  <% end %>
			  <% empty_stars.times do |x| %>
					<span class="empty-star" id="<%= x%>">&starf;</span>
			  <% end %>
		  <% else %>
		     <% 5.times do |x| %>
					<span class="empty-star" id="<%= x%>">&starf;</span>
					<% end %>
		  <% end %>
		</div>

		<p id="cusine_city"><%= @restaurant.cuisine_type.upcase %> &bull; <%= @restaurant.city.upcase %>

		<p><a href="<%= @restaurant.website %>"><%= @restaurant.website.partition('.').last %></a></p>

		<span>
		<% if current_user && current_user.id == @restaurant.owner %>
			<%= link_to "Edit", edit_restaurant_path(@restaurant.id), class: "owner_option" %>
			<%= link_to "Delete", restaurant_path(@restaurant.id), :method => :delete, class: "owner_option" %>
		<% end %>
		</span>
	</div>
</div>

<div id="content-bg">
	<div class="tile" id="reso_booking">
		 	<h2>Book a Reservation</h2>
 			<%= form_tag restaurant_reservations_path(@restaurant) do %>

			<%= label_tag(:time, "Date and Time") %>
			<p>
			<%= datetime_select(:reso, "datetime",  default: 3.days.from_now,
		        :minute_step => 15, ampm: true,
				    :discard_year => true) %><p>
			<p><%= label_tag :party_size, "Party Size"%></p>
			<p><%= text_field_tag :party_size %></p>

  		<%= submit_tag 'Book Reservation', id:'reso_submit_btn' %>
			<% end %>

		  <%#= form_for([@restaurant, @reservation]) do |f| %>
					<p><%#= f.label :time, "Date" %></p>
					<%#= f.date_select :time,
				 		:default => 24.hours.from_now,
		        :minute_step => 15,
				    :discard_year => true
				   %>
				  <p>
				  <p><%#= f.label :time, "Time" %></p>
				  <%#= f.time_select :time,
				 		:default => 24.hours.from_now,
		        :minute_step => 15,
				    :discard_year => true
				  %>
				  </p>

					<p><%#= f.label :party_size, "Party Size"%></p>
					<p><%#= f.text_field :party_size %></p>
					<%#= f.submit 'Book Reservation', id:'reso_submit_btn' %>
			<%# end %>
	</div>

	<% if current_user && !@reservations.nil? && @reservations.count > 0 %>

		<div class="tile" id="booked_reservations">
		<h2 id="resos_title">Your Reservations</h2>
			<ul>
			<% counter = 1 %>
			<% current_user.reservations.each do |reso| %>

				<li>
					<div class="num_list_icon"><span><%= counter %></span></div>
					<div id="reservation">

					<%=
					time = Time.at(reso.time)
					time.strftime("%b %e, %l:%M %p")
					%> for <%= pluralize(reso.party_size, "Person") %>
				</li>

				<%= link_to 'Cancel', restaurant_reservation_path(restaurant_id: reso.restaurant_id, id: reso.id),  method: :delete, data: { confirm: 'Are you sure?' }, id:"cancel_reso_link" %>
				<% counter += 1%>
			<% end %>
			</div>
			</ul>

	<% else %>
	 <div class="tile" id="booked_reservations">
		 <h2 id="resos_title">Your Reservations</h2>
		 <p><em>No reservations have been booked</em></p>
	 </div>
	<% end %>

	<div class="tile" id="show_about">
		<h2>About <%= @restaurant.name %></h2>
		<h4><%= @restaurant.address %></h4>
		<p><%= @restaurant.description %></p>

		<div id="gmap">
			<% uri = "https://maps.googleapis.com/maps/api/staticmap?size=500x300&maptype=roadmap\
&markers=size:large%7Ccolor:red%7C" + @restaurant.address %>
			<%= image_tag(uri) %>
		</div>
	</div>

	<div class="tile" id="show_ratings">

	<h2><%= @restaurant.name %> Ratings and Reviews</h2>
		<div class="rating">
		<% if @restaurant.reviews.count > 0 %>
			<% user_rating.times do |x| %>
				<span class="filled-star" id="<%= x%>">&starf;</span>
		  <% end %>
		  <% empty_stars.times do |x| %>
				<span class="empty-star" id="<%= x%>">&starf;</span>
		  <% end %>
		  <span id="rating_count"><%= pluralize(@restaurant.reviews.count, "review") %></span>
	  <% else %>
	     <% 5.times do |x| %>
				<span class="empty-star" id="<%= x%>">&starf;</span>
				<% end %>
				<span id="rating_count">0 reviews</span>
	  <% end %>
		</div>

		<% if @restaurant.reviews.count > 0 %>
		<hr>
			<% @restaurant.reviews.each do |r| %>
				<div id="single_review">
					<h3><%= r.title %></h3>
					<% empty_stars_single_review = 5 - r.rating %>
					<% r.rating.times do |x| %>
						<span class="filled-star" id="<%= x%>">&starf;</span>
	  			<% end %>
			  	<% empty_stars_single_review.times do |x| %>
						<span class="empty-star" id="<%= x%>">&starf;</span>
			 		<% end %>
			 		<% if r.rating == 0 %>
			 			<% 5.times do |x| %>
						<span class="empty-star" id="<%= x%>">&starf;</span>
						<% end %>
					<% end %>

					<h4><%= r.user.name %>&nbsp
					<span id="datetime_posted"><%= r.created_at.strftime("%B %d, %Y at %l:%M %p") %></span></h4>
						<p><%= r.comment %></p>
					</div>
			<% end %>
			<% else %>
				<p><em>Be the first to leave a review!</em></p>
		<% end %>

		<% if current_user && @restaurant.reviews.where(user_id: current_user).count == 0  %>

			<%= link_to "Leave a Review", new_restaurant_review_path(@restaurant), id:"new_review_btn"%>
		<% end %>
	</div>

<div class="tile" id="show_nearbys">

	<div id="nearbys_text">
		<h2>Nearby Restaurants</h2>
		<% if @nearby_restaurants != nil && @nearby_restaurants.any? %>
			<% if @nearby_restaurants != nil && @nearby_restaurants.any? %>

			<%= javascript_tag do %>
				window.nearbys = <%= raw @nearby_restaurants.map {|nr| {latitude: nr.latitude, longitude: nr.longitude}}.to_json %>
			<% end %>
		<% end %>
		<ul>
		<% @nearby_restaurants.each do |nr| %>
			<li id="nearby_restaurant">
				<% nr.distance >= 1 ? distance = "#{nr.distance.round(2)} Kilometers" : distance = "#{(nr.distance * 1000).round} Meters" %>
				<%= link_to "#{nr.name}", restaurant_path(nr) %>
				<span><%= distance %></span>
			</li>
		<% end %>
		</ul>
	</div>

<div id="map-canvas" data-latitude='<%= @restaurant.latitude.to_f %>' data-longitude='<%= @restaurant.longitude.to_f %>'></div>
<% else %>
	<p><em>No nearby restaurants found</em></p>
<% end %>
</div>
</div>