<div id='new_review_container'>

	<div id='new_review'>
	<h2>Review and Rating for <%= @restaurant.name %></h2>
	<hr/>

	<%= form_for [@restaurant, @review], html: {id: "new_review_form"} do |f| %>

		<%= f.hidden_field :user_id, value: current_user.id %>

		<div class="field">
			<%= f.label :rating %>
	    <%= f.select :rating, [1,2,3,4,5] %>
		</div>

		<div class="field">
	    <%= f.label :title %>
	    <%= f.text_field :title %>
		</div>

		<div class="field">
			<%= f.label :comment %>
			<%= f.text_area :comment, placeholder: "How was your experience?" %>
		</div>

		<div class="actions">
			<%= f.submit "Submit", id:"new_user_submit_btn" %>
		</div>
	<% end %>

	</div>
</div>

