<%= form_tag user_sessions_path, :method => :post do %>
  <form>
    <fieldset id="inputs">
          <%= email_field_tag 'email', nil, id: 'username', placeholder: 'Your email address' %>
          <%= password_field_tag 'password', nil, placeholder: 'Password' %>
    </fieldset>
    <fieldset id="actions">
          <%= submit_tag "submit", value: "Log in" %>
          <label><%= check_box_tag :remember, params[:remember], true %> Keep me signed in</label>
        </div>
    </fieldset>
  </form>
<% end %>
