<!DOCTYPE html>
<html>
<head>
  <title>SeatYourself</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.google_maps_api}" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
    <span id='title'><%= link_to 'SeatYourself', root_path %></span>
    <ul>
      <% if current_user %>
        <li id="logout">
          <%= link_to "Logout", :logout, method: :post %>
        </li>
      <% else %>
        <li id="login">
          <a id="login-trigger" >
            Log in <span>▼</span>
          </a>
          <div id="login-content">
             <%= render :template => '/user_sessions/_form'%>
          </div>
        </li>
        <li id="signup">
          <%= link_to "Sign up", new_user_path %>
        </li>
      <% end %>
    </ul>
</nav>

    <% if flash[:notice] || flash[:alert] %>
      <div id="notices_alerts">
        <span id="notice"><%= flash[:notice] %></span>
        <span id="alert"><%= flash[:alert] %></span>
      </div>
    <% end %>

  <div id="content">
    <%= yield %>
  </div>

</body>
</html>